.header {
    background-color: #53535d;
    padding: 2px;
    color: #dfd1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 14px;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
  }
 .header-link a{
    color:  #ded1d1;
    gap: 30px;
    justify-content: space-between;
    display: inline-flex;
    margin-left: 14px;
  }
  .header-link{
    gap: 4px;
    display: flex;
  }
  .header-link button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #1c2125;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .line{
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .user-info span{
    font-size: 14px;
    color: #fff;
  }