/* body, html{
  margin: 0;
  padding: 0;
  overflow: hidden;
} */
.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  .login-button {
    margin-top: 4px;
    padding: 7px 20px;
    background-color: #515d6b;
    color: rgb(16, 1, 1);
    cursor: pointer;
    border-radius: 0;
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .health-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  