.symptom-page {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
  color: #b29e9e;
}

p {
  margin-bottom: 40px;
  color: #c0a9a9;
}

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d0bdbd;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: #625c5c;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  float: right;
  border-radius: 0;
}
.close-button:hover{
  background-color: rgb(173, 151, 151);
}
